<div class="row">
    {{#each products}}
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text">{{price}} USD</p>
                {{#if isAdminOrOwner}}
                <a href="/products/{{_id}}/delete" class="btn btn-danger">Eliminar</a>
                {{/if}}
            </div>
        </div>
    </div>
    {{#if_eq (inc @index) 3}}
</div>
<div class="row">
    {{/if_eq}}
    {{/each}}
</div>